.screen {
  width: 100%;
  max-width: 1920px;
  min-height: 100vh;
  margin: 0 auto;
  background: url('/assets/images/background/background.jpg');
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}
