@import 'src/assets/styles/reusable.scss';
.nav {
    &__list {
        list-style-type: none;
        display: flex;
        align-items: center;
        margin: 0;
        padding: 0;
    }

    &__icon {
        @include hoverGradientBg;
        mask-image: url('../../../assets/images/icons/tree.svg');
        mask-size: 48px 60px;
        mask-repeat: no-repeat;
        mask-position: center center;

        &:hover {
            padding-left: 13px;
            padding-right: 15px;
            padding-top: 30px;
            padding-bottom: 30px;
            margin-left: 10px;
            margin-right: 10px;
            cursor: pointer;

            a {
                width: 100%;
                min-height: 80px;
            }

            svg {
                display: none;
            }
        }
    }

    &__link {
        color: inherit;
        display: block;
        line-height: 1.2;
        font-size: 20px;
        font-weight: 500;
        text-decoration: none;
        text-decoration: none;
        margin-left: 15px;
        margin-right: 15px;
        padding-top: 30px;
        padding-bottom: 30px;
        position: relative;
        transition-property: color;
        transition-duration: .5s;
        transition-timing-function: ease;
        letter-spacing: .2rem;
        text-transform: uppercase;

        /* TODO ADD touchevents library
       .no-touchevents &:hover {
            color: #00A783;
        }

        .no-touchevents &:active {
            color: #00A783;
        }*/
        &:hover,
        &:active {
            text-shadow: white 2px 0 5px;
            color: #278D9F;
            @include hoverGradientBg;
            background-clip: text;
            -webkit-text-fill-color: transparent;
        }

        &:before {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            height: 2px;
            background-color: transparent;
            border-radius: 2px 2px 0 0;
            transition-property: background-color;
            transition-duration: .25s;
            transition-timing-function: ease;
        }

        &_active {
            text-shadow: white 2px 0 5px;
            color: #278D9F;
            @include hoverGradientBg;
            background-clip: text;
            -webkit-text-fill-color: transparent;

            &:before {
                @include hoverGradientBg;
                box-shadow: 0 0 10px #24c5db;
            }
        }
    }
}