@font-face {
    font-family: 'Neucha';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("../fonts/neucha.woff2") format("woff2"),
         url("../fonts/neucha.woff") format("woff"),
         url("../fonts/neucha.otf") format("otf"),
         url("../fonts/neucha.ttf") format("ttf"),
  }