@import './fonts.scss';

$mobileFirst: false;
$develop: false;
$box: false;

$default-font: -apple-system, BlinkMacSystemFont, 'Sans Serif', Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$font-neucha: 'Neucha', $default-font;

:root {
  --ligth-shade:  #FFFFFF;
/*
  --accent: #0070f1;
  --accentDark: #0754d1;
  --accentDarker: #0347a3;
  --accentDarkest: #003470;

  --fade: #99DCCD;
  --fadeLight: #B3E5DA;
  --fadeLighter: #E6F7F3;
  --sfadeLightest: #F2FBF9;

  --secondaryFade: #FCE5EB;
  --thirdFade: #FDE8BD;
  --fourthFade: #B2E2F5;
  --fifthFade: #F6B2C3;

  --auxiliaryLight: #00CB9F;
  --auxiliaryDark: #00795F;

  --warning: #E4003A;
  --accentGreen: #00A783;
  --accentYellow: #FAB526;
  --accentBlue: #00A1DF;


  --shadeDark: #3C3C3B;
  --shadeDarker: #3C3C3B;
  --shadeLight: #B7BABD;
  --shadeLighter: #B7BABD ;
  --shadeLightest:#D0D4D8 ;*/

  --default-font: -apple-system,  'Open Sans' , sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --font-neucha: 'Neucha', var(--default-font);
}

:root {}