
@import './fonts';
@import './_reset';
@import './_variables';
@import './reusable.scss';

body {
margin: 0;
width: 100%;
font-family: var(--font-neucha);
color: var(--ligth-shade);
}
p{
  margin: 0;
}
